.avatar {
  width: 300px;
  height: 250px;
  padding: 30px;
}

#src {
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.avatar p {
  padding: 30px;
}

.fileimg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}

 img {
  border-radius: 5px;
  object-fit: cover;
}

#input {
  color: blue;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 18px;
  font-weight: 500;
}